<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glowtique | Products</title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/logged-header.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/wishlisted.css">
    <link rel="stylesheet" href="/css/toast.css">

</head>
<body>
    <th:block th:insert="fragments/header-fragment :: header"></th:block>
<div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h3>Категории</h3>
        <form th:action="@{/products}" th:method="Get" th:object="${products}">
            <h4>Вид</h4>
            <div class="filter-section">
                <ul>
                    <li><input type="checkbox" name="category" value="Regular"> Regular</li>
                    <li><input type="checkbox" name="category" value="Makeup"> Makeup</li>
                    <li><input type="checkbox" name="category" value="Hair"> Hair</li>
                    <li><input type="checkbox" name="category" value="Body"> Body</li>
                    <li><input type="checkbox" name="category" value="Face"> Face</li>
                    <li><input type="checkbox" name="category" value="Promotion"> Promotion</li>
                    <li><input type="checkbox" name="category" value="Accessory"> Accessory</li>
                    <li><input type="checkbox" name="category" value="Sets"> Sets</li>
                    <li><input type="checkbox" name="category" value="Tester"> Tester</li>
                    <li><input type="checkbox" name="category" value="Niche"> Niche</li>
                </ul>
            </div>
            <button type="submit" class="apply-filters">Приложи филтрите</button>
        </form>
        <h4>Любими Продукти</h4>
        <div th:if="${wishlistItems.size() <= 0}" class="empty-wishlist">Нямате любими продукти</div>
        <div class="wishlist" th:each="item : ${wishlistItems}">
            <ul th:unless="${wishlistItems.size() <= 0}" id="wishlist-items">
                <li class="wishlist-item">
                    <img th:src="${item.product.image}" alt="product-image">
                    <div class="item-details-side">
                        <a th:href="@{/product/{id}(id=${item.product.id})}" class="item-name-side" th:text="${item.product.name}"></a>
                        <p th:text="${item.product.price} + ' лв.'" class="price-side"></p>
                        <form th:action="@{/cart/add/{productId}(productId=${item.product.id})}" method="post">
                            <input type="hidden" name="quantity" value="1">
                            <button  th:if="${item.product.quantity > 0}" type="submit" class="add-to-cart-side" th:data-id="${item.product.id}">
                                Добави в кошницата
                            </button>
                            <button th:unless="${item.product.quantity > 0}" disabled class="add-to-cart-side" th:data-id="${item.product.id}">
                                Добави в кошницата
                            </button>
                        </form>
                    </div>

                    <button type="button" class="wishlist-btn-liked" th:data-id="${item.product.id}">
                        <span id="remove" class="remove-side">×</span>
                    </button>
                    <script>
                        document.addEventListener("click", function(event) {
                            if (event.target.classList.contains("remove-side")) {
                                event.target.parentElement.remove();
                            }
                        });
                    </script>
                </li>
            </ul>
        </div>
    </aside>

    <main class="product-container">
        <div th:each="product : ${products}" class="product">
                <button type="button"
                        th:classappend="${#lists.contains(wishListed, product.id) ? 'wishlist-btn-liked' : 'wishlist-btn'}"
                        th:data-id="${product.id}">
                    <span class="heart-icon">&#10084;</span>
                </button>
            <span th:if="${product.quantity > 0}" class="stock-status-ready">В наличност</span>
            <span th:unless="${product.quantity > 0}" class="stock-status-out">Не е в наличност</span>
            <a th:href="@{/product/{id}(id=${product.id})}" class="product-link">
                <img th:src="${product.image}" alt="Product 1">
                <h3 th:text="${product.name}" class="product-name"></h3>
                <h6 th:text="${product.description} + ' ' + ${product.volume} + ' мл.'" class="product-details"></h6>
            </a>
            <div class="product-details">
                <p th:text="${product.price} + ' лв.'" class="price"></p>
            </div>
            <form th:action="@{/cart/add/{productId}(productId=${product.id})}" method="post">
                <input type="hidden" name="quantity" value="1">
                <button  th:if="${product.quantity > 0}" type="submit" class="add-to-cart" th:data-id="${product.id}">
                    Добави в кошницата
                </button>
                <button th:unless="${product.quantity > 0}" disabled class="add-to-cart" th:data-id="${product.id}">
                    Добави в кошницата
                </button>
            </form>

        </div>
    </main>
    <div id="toast" class="toast hidden">
        <span id="toast-message"></span>
    </div>
</div>
<script src="/css/products.js"></script>
<script src="/css/addwishlist.js"></script>
<script src="/css/removewishlist.js"></script>
</body>
</html>
