<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragrances Shop</title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/logged-header.css">
    <link rel="stylesheet" href="/css/font.css">
</head>
<body>
    <th:block th:insert="fragments/header-fragment :: header"></th:block>
<div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h3>Категории</h3>
        <form th:action="@{/products}" th:method="Get" th:object="${products}">
            <h4>Вид</h4>
            <div class="filter-section">
                <ul>
                    <li><input type="checkbox" name="category" value="Regular"> Regular</li>
                    <li><input type="checkbox" name="category" value="Makeup"> Makeup</li>
                    <li><input type="checkbox" name="category" value="Hair"> Hair</li>
                    <li><input type="checkbox" name="category" value="Body"> Body</li>
                    <li><input type="checkbox" name="category" value="Face"> Face</li>
                    <li><input type="checkbox" name="category" value="Promotion"> Promotion</li>
                    <li><input type="checkbox" name="category" value="Accessory"> Accessory</li>
                    <li><input type="checkbox" name="category" value="Sets"> Sets</li>
                    <li><input type="checkbox" name="category" value="Tester"> Tester</li>
                    <li><input type="checkbox" name="category" value="Niche"> Niche</li>
                </ul>
            </div>
            <button type="submit" class="apply-filters">Приложи филтрите</button>
        </form>
        <div class="wishlist">
            <h4>Любими Продукти</h4>
            <p>Все още нямате харесани продукти</p>
        </div>
    </aside>

    <main class="product-container">
        <div th:each="product : ${products}" class="product">
            <form th:action="@{/products}" th:method="Post" th:object="${user}">
                <button type="button" class="wishlist-btn" th:data-id="${product.id}">
                    &#10084;
                </button>
            </form>
            <span th:if="${product.quantity > 0}" class="stock-status-ready">В наличност</span>
            <span th:unless="${product.quantity > 0}" class="stock-status-out">Не е в наличност</span>
            <a th:href="@{/product/{id}(id=${product.id})}" class="product-link">
                <img th:src="${product.image}" alt="Product 1">
                <h3 th:text="${product.name}" class="product-name"></h3>
                <h6 th:text="${product.description} + ' ' + ${product.volume} + ' мл.'" class="product-details"></h6>
            </a>
            <div class="product-details">
                <p th:text="${product.price} + ' лв.'" class="price"></p>
            </div>
            <button class="add-to-cart" th:data-id="${product.id}" onclick="addToWishlist(this)">Добави в кошницата</button>
        </div>
    </main>
</div>
<script src="/css/products.js"></script>
</body>
</html>
