<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/register.css">
    <title>Title</title>
</head>
<body>
<header>
    <div class="top-bar">
        <img src="/images/glowtique-logo.png" alt="photo">
    </div>
</header>
<main>
    <div class="registration-container">
        <h2>Register</h2>
        <form th:action="@{/register}" th:method="POST" th:object="${registerRequest}">
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input th:field="*{firstName}" type="text" id="firstname" name="firstname" placeholder="Enter your first name" required>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input th:field="*{lastName}" type="text" id="lastname" name="lastname" placeholder="Enter your last name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input th:field= "*{email}" type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="gender">Gender (Optional)</label>
                <select th:field="*{gender}" id="gender" name="gender">
                    <option th:each="gender : ${T(com.example.glowtique.user.model.UserGender).values()}"
                            th:value="${gender}"
                            th:text="${#strings.capitalize(#strings.toLowerCase(gender))}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="birthday">Birthday</label>
                <input th:field="*{dateOfBirth}" type="date" id="birthday" name="dateOfBirth">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input th:field="*{confirmPassword}" type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm your password"
                       required>
            </div>
            <button type="submit" class="register-button">Register</button>
            <div class="already-registered">
                <a th:href="@{/login}">Already registered?</a>
            </div>
        </form>
    </div>
    <div class="footer">
        <p>© Copyright Glowtique All Rights Reserved 2025</p>
    </div>
</main>
</body>
</html>